<div id="register-container">
    <h1>Cadastro</h1>
    <form action="register" method="post">
        <label for="email">Nome</label>
        <input type="text" name="username" id="username" placeholder="Digite seu nome" autocomplete="off" required />
        <small>{{msgError.name}}</small>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-email" autocomplete="off" required />
        <small>{{msgError.email}}</small>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha" required />
        <small>{{msgError.password}}</small>
        <label for="password">Confirmar Senha</label>
        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirme sua senha" required />
        <small>{{msgError.confirmpassword}}</small>
        <input type="submit" value="Cadastrar" />
    </form>
    <div>
        <br>
        <a href="/">Voltar</a>
    </div>
</div>